<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    {% comment %}{% feed_meta %}{% endcomment %}
    <title>{{ metadata.title }} by {{ metadata.author.name }}</title>
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="/assets/css/prism.css">
    <link rel="stylesheet" href="/assets/css/theme.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <ul>
          <li><a href="{{ site.baseurl }}/posts.html">Posts</a></li>
          <li><a href="{{ site.baseurl }}/tags.html">Tags</a></li>
          <li><a href="{{ site.baseurl }}{{ metadata.feed.path }}" title="RSS"><i class="svg-icon rss"></i> RSS</a></li>
          <li><a href="{{ site.baseurl }}/about/">About</a></li>
        </ul>
        <h1 class="header"><a id="homelink" href="{{ site.baseurl }}/">{{ metadata.title }}</a></h1>
        <p class="header">{{ metadata.description }}</p>
      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        <div>Ray DeCampo</div>
        <div>
          <a href="{{ metadata.author.github }}" title="GitHub"><i class="svg-icon github"></i></a>
          <a href="{{ metadata.author.twitter }}" title="Twitter"><i class="svg-icon twitter"></i></a>
          <a href="{{ metadata.author.linkedin }}" title="LinkedIn"><i class="svg-icon linkedin"></i></a>
        </div>
      </footer>
    </div>
  </body>
</html>
