<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    {% comment %}{% feed_meta %}{% endcomment %}
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    <link href='https://fonts.googleapis.com/css?family=Arvo:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <ul>
          <li><a href="{{ site.baseurl }}/posts.html">Posts</a></li>
          <li><a href="{{ site.baseurl }}/tags.html">Tags</a></li>
          <li><a href="{{ site.baseurl }}{{ site.feed.path }}" title="RSS"><i class="svg-icon rss"></i> RSS</a></li>
          <li><a href="{{ site.baseurl }}/about/">About</a></li>
        </ul>
        <h1 class="header"><a id="homelink" href="{{ site.baseurl }}/">{{ site.title | default: site.github.repository_name }}</a></h1>
        <p class="header">{{ site.description | default: site.github.project_tagline }}</p>
      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        <div>Ray DeCampo</div>
        <div>
          <a href="{{ site.github.owner_url }}" title="GitHub"><i class="svg-icon github"></i></a>
          <a href="https://plus.google.com/u/0/+RaymondDeCampo" title="Google+"><i class="svg-icon googleplus"></i></a>
          <a href="https://twitter.com/uncle__buck" title="Google+"><i class="svg-icon twitter"></i></a>
          <a href="https://www.linkedin.com/in/raymonddecampo" title="LinkedIn"><i class="svg-icon linkedin"></i></a>
        </div>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
