---
layout: default
---

<div class="posts">
  <article class="post">
    <h1>{{ site.posts.first.title }}</h1>

    <div class="date">
      {{ site.posts.first.date | date: "%B %e, %Y" }}
    </div>

    <div class="tags">
    {% for tag in site.posts.first.tags %}
      <a href="tags.html#{{ tag | slugify }}">{{ tag }}</a>
    {% endfor %}
    </div>
    
    <div class="entry">
      {{ site.posts.first.content }}
    </div>

    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
  </article>
  
  <h2>All Posts</h2>
  {% include posts.html %}
</div>